<!DOCTYPE html>
<html>
<head>
	<title>WIS SYSTEM</title>
</head>
<body>

	<form method="get" action="/importproductcsv">
		<input type="submit" id="output" value="go to import product"/>
	</form>	
	
	<form method="get" action="/importlocationcsv">
		<input type="submit" id="output" value="go to import location information"/>
	</form>
	
	<form method="get" action="/showproducts">
		<input type="submit" id="output" value="View Investory Level"/>
	</form>	
	
	<form method="get" action="/transfer">
		<input type="submit" id="output" value="Transfer Investory"/>
	</form>		
	
</body>
</html>