<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>show all products</title>
</head>
<body>
	<form th:action="@{/showproducts}" method="get">
		<input id = "txtSearch" type="text" name="keyword">
		<button type="submit">Go</button>
	</form>

	
	<table>
		<thead>
			<tr>
				<!-- <th>id</th> -->
				<th>Location</th>
				<th>Product Code</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			 <tr th:each="locate:${locates}">
				<!-- <td th:text="${locate.id}"></td> -->
				<td th:text="${locate.Loc}"></td>
				<td th:text="${locate.code}"></td>
				<td th:text="${locate.Quantity}"></td>
			</tr>	
		</tbody>
	</table>
	
	
	
	
</body>
</html>